#header-nav {
    background-color: #FBC966;
    font-weight: bolder;
    /* Don't linebreak between words in an element*/ 
    white-space: nowrap;
}

#brand {
    color: #FB8974;
    /* font-weight: bold; */
    /* letter-spacing: 1px; */
}

#nav-pages {
    letter-spacing: 1px;
}

.activated {
    text-shadow: 2px 4px #90CEC7;
}