nav {
    width: 100%;
    top: 0;
    background-color: #FBE44B;
    color: #4E5059;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

h1 {
    padding: 0 10px 0 10px;
}

ul {
    list-style-type: none;
    display:inline-block;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin: 1px;
    padding: 2px;
}

a {
    text-decoration: none;
}

.active {
    font-weight: bolder;
}

