.project-card {
    box-shadow: 8px 8px #FB8974, -8px -8px #90CEC7;
    border: none;
}

.project-title {
    /*invisible because opacity is 0*/
    font-weight: bold !important;
    color: #FFFFFF;
}

.button-project {
    font-weight: bold !important;
    border-width: 3px !important;
    color: #1C1C1C
}

.project-details {
    height: 100%;
    opacity: 0;            
    transition: 0.4s;
    background: rgb(255,255,255);
    background: linear-gradient(360deg, rgba(255,255,255,1) 0%, rgba(144,206,199,1) 100%);
}

.project-card:hover .project-details {
    /*becomes visible on hover*/ 
    opacity: .95; 
}

.project-card:hover .project-title {
    /*becomes visible on hover*/ 
    opacity: 1; 
}

.project-card:hover .button-project {
    /*becomes visible on hover*/ 
    opacity: 1;   
}