.project-cards {
    box-shadow: 8px 8px #FB8974, -8px -8px #90CEC7;
    border-color: white;
}

.button-repository {
    border-color: #90CEC7;
    font-weight: bold;
}

.button-production {
    border-color: #90CEC7;
    font-weight: bold;
}
